/* 0 - Hidden Nav Bar on Start Page - 0 */
#hiddenNav {
  background-color: #6e6e6e94;
  height: 70px;
  width: 49.72%;
  position: fixed;
  z-index: 10;
  margin-top: calc(100vh - 70px);
  backdrop-filter: blur(10px);
  border-radius: 10px 10px 0px 0px;
}

/* 1 - Main Status Bar - 1 */
.statusBar {
  background-image: url("../img/background.jpg");
  background-size: cover;
}

.extra-space {
  width: 1100px;
}

.navbar-brand {
  font-size: 30px;
}